table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
td { padding-left:10px;}
thead{
	background:#CCC;
	font-weight:bold;}
a{
	text-decoration:none;
	}

#wraper{ alignment-adjust:central;}


insert_record {
    float:left;
	margin:0 0 5 0;
    padding: 3 3 3 3;
    width:100%;
    height: auto;
    border: 1px solid black;
	text-align:center;
	position:relative;
	
}

.record_added{
  
   margin:0;
    padding: 3 3 3 3;
    width:100%;
    height: 20px;
    border: 1px solid black;
	text-align:center;
	position:relative;
}
#valid_form{
	float:left;
	margin:0;
    padding: 3 3 3 3;
	width:100%;
    height: auto;
    border: 1px solid black;
	text-align:center;
	position:relative;
}
#tbl{
	
	position:relative;
	margin:0 auto;
	width:60%;
	margin-top:5px;
	margin-bottom:10px;}
	
.tbl_state{
	position:relative;
	margin:0 auto;
	width:60%;
	margin-top:5px;
	margin-bottom:10px;
	border: 1px solid black;
	}
	.part{
		text-align:left;
		padding-left:5px;}
	
.tbl{
	padding:2 2 2 2;
	width:60%;
	height:auto;
	text-align:left;}
	.cell{
		float:none;
		padding-left:20px;
		text-align:left;
		width:300px;
		height:20px;}
 
.user_wc{
	margin: 2 2 2 0;
	float:left;
	width:100%;
	text-align:right;
	position:relative;

	
	}
.user_lo{
	position:relative;
	margin: 2 2 2 0;
	
	width:100%;
	text-align:right;
	}
.subm{
	
	float:left;
	width:100%;
	margin:20px;
	font-size:25px;
	font-weight:bold;
	text-align:center;
	position:relative;
	
	}
#menu_wrap{
	float:left;
	margin-top:5px;
	margin:0 auto;
	margin-bottom:10px;
	height:auto;
	width:100%;
		
	position:relative;
	}
	.menus{
		padding-left:15%;
		padding-right:15%;
		}
	
	.menu{
		background:#CCC;
		float:left;
		width:auto;
		padding-left:5px;
		padding-right:5px;
		font-weight:bold;
		color:#FFF;
		}
	.menu_space{
		background:inherit;
		height:inherit;
		width:3px;
		float:left;}
.form-group {
	margin: 0 auto;
	margin-bottom: 15px;
	width: 75%;

}
#form-wrap{
	width:100%;
	float:left;
	position:relative;
	margin:0 auto;}
	
#footer{
	width:100%;
	text-align:center;
	}
